Source: aravis0.2
Section: devel
Priority: extra
Maintainer: Michael Davidsaver <mdavidsaver@bnl.gov>
Build-Depends: debhelper (>= 7.0.50~),
               intltool, libglib2.0-dev, libxml2-dev,
               libgtk2.0-dev, libgstreamer0.10-dev,  libgstreamer-plugins-base0.10-dev,
Standards-Version: 3.8.0
Homepage: http://live.gnome.org/Aravis

Package: libaravis0.2
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Library for ethenet video cameras
 Aravis is a glib/gobject based library for the video acquisition of
 Genicam cameras. It currently only implements an ethernet camera
 protocol used for industrial cameras. 
 .
 This package contains libaravis-0.2.so.0

Package: libaravis0.2-dev
Section: libdevel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
         libaravis0.2 (= ${binary:Version}),
Description: Library headers for ethenet video cameras
 Aravis is a glib/gobject based library for the video acquisition of
 Genicam cameras. It currently only implements an ethernet camera
 protocol used for industrial cameras. 
 .
 This package contains headers and libraries needed to build
 with the Aravis library.

Package: libaravis0.2-doc
Section: doc
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends},
Description: Library headers for ethenet video cameras
 Aravis is a glib/gobject based library for the video acquisition of
 Genicam cameras. It currently only implements an ethernet camera
 protocol used for industrial cameras. 
 .
 This package contains documentation for the Aravis library.

Package: aravis-tools
Section: video
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
         libaravis0.2 (= ${binary:Version}),
Description: Library headers for ethenet video cameras
 Aravis is a glib/gobject based library for the video acquisition of
 Genicam cameras. It currently only implements an ethernet camera
 protocol used for industrial cameras.
 .
 This package contains CLI tools for accessing ethenet video cameras
 arv-tool and arv-fake-gv-camera
