#!/usr/bin/make -f

export DH_VERBOSE=1

export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

include /usr/share/dpkg/architecture.mk

%:
	dh $@ --with autoreconf

override_dh_auto_configure:
	dh_auto_configure -- --enable-gtk3 --enable-gtk-doc --enable-viewer --enable-notify --enable-gst-plugin

override_dh_install:
	rm -rf debian/tmp/usr/doc/aravis-*
	rm -f debian/tmp/usr/lib/*/libaravis-*.la
	rm -f debian/tmp/usr/lib/*/gstreamer-*/libgstaravis-*.la
	dh_install --fail-missing

override_dh_installchangelogs:
	dh_installchangelogs NEWS
